<mat-tab-group>
    <mat-tab label="Requests">Requests</mat-tab>
    <mat-tab label="Total Approval">
      <table class="table">
        <thead>
            <th>#</th>
            <th>Name</th>
            <th>EIT ID</th>
            <th>Type</th>
            <th>Date</th>
            <th>Status</th>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Kossi ADANOU</td>
                <td>kossi&#64;omnisoft.africa</td>
                <td><button class="btn btn-">Stick Leave</button></td>
                
                <td>Dec 12, 2023</td>
                <td>
                 <button class="btn">Accepted</button>
                </td>
            </tr>
            <tr>
                <td>1</td>
                <td>Kossi ADANOU</td>
                <td>kossi&#64;omnisoft.africa</td>
                <td><button class="btn btn-">Stick Leave</button></td>
                
                <td>Dec 12, 2023</td>
                <td>
                 <button class="btn">Accepted</button>
                </td>
            </tr>
            <tr>
                <td>1</td>
                <td>Kossi ADANOU</td>
                <td>kossi&#64;omnisoft.africa</td>
                <td><button class="btn btn-">Stick Leave</button></td>
                
                <td>Dec 12, 2023</td>
                <td>
                 <button class="btn">Accepted</button>
                </td>
            </tr>
            <tr>
                <td>1</td>
                <td>Kossi ADANOU</td>
                <td>kossi&#64;omnisoft.africa</td>
                <td><button class="btn btn-">Stick Leave</button></td>
                
                <td>Dec 12, 2023</td>
                <td>
                 <button class="btn">Accepted</button>
                </td>
            </tr>
            <tr>
                <td>1</td>
                <td>Kossi ADANOU</td>
                <td>kossi&#64;omnisoft.africa</td>
                <td><button class="btn btn-">Stick Leave</button></td>
                
                <td>Dec 12, 2023</td>
                <td>
                 <button mat-button color="primary" class="btn">Accepted</button>
                </td>
            </tr>
        </tbody>
    </table>
    </mat-tab>
</mat-tab-group>